/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/



*.sln
*.csproj
*.sln
*.userprefs
*.unityproj
*.DS_Store
*.vsconfig

.vs/

*.pidb.meta
*.pdb.meta
*.mdb.meta


*.apk
*.unitypackage
